doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width')
    title TESTS
    link(rel='stylesheet', href='mocha.css', type='text/css')
    script(src='dom.js')
    script(src='mocha.js')
    script.
      this.log = console.log.bind(console)
      onload = e => mocha.run()
  body
    #mocha

  script.
    mocha.setup('bdd')
  script(src='test.js')